<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <packageSources>
    <add key="try.gitea.io" value="https://try.gitea.io/api/packages/viceice/nuget/index.json" protocolVersion="3" />
  </packageSources>

  <disabledPackageSources>
    <!-- <add key="try.gitea.io" value="true" /> -->
  </disabledPackageSources>

  <packageSourceMapping>
    <!-- https://aka.ms/nuget-package-source-mapping -->
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="VisualOn.CssParser" />
      <package pattern="VisualOn.EPPlus" />
      <package pattern="VisualOn.MimeMapping" />
      <package pattern="VisualOn.NCrontab.Advanced" />
    </packageSource>
    <packageSource key="try.gitea.io">
      <package pattern="Viceice.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
